---
layout: default
lang: ja
title: Hello, 11ty!
description: static site boilerplate
---
<h1>Hello, 11ty!!</h1>
<p>is development: <b>{{env.isDev}}</b></p>
{{{Image "sample.png" "sample alt"}}}

<ul>
  <li><a href="/posts/">Articles</a></li>
</ul>