---
layout: default
lang: ja
title: Posts | Hello, 11ty!
description: static site boilerplate
---
<article>
  <h1>Test Article</h1>
  <p>sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text</p>
</article>